<div class="backdrop"></div>
<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <h3><a class="<%= path === '/' ? 'active' : '' %>" href="/">Cats</a></h3>
      </li>
      <li class="main-header__item">
        <h3><a class="<%= path === '/products' ? 'active' : '' %>" href="/products">More Cats</a></h3>
      </li>
      <li class="main-header__item">
        <h3><a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Still Cats</a></h3>
      </li>
      <li class="main-header__item">
        <h3><a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Hella' Cats</a></h3>
      </li>
      <li class="main-header__item">
        <h3><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Cats 2</a></h3>
      </li>
    </ul>
  </nav>
</header>
