<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>

  <body>
    <%- include('./includes/navbar.ejs') %>
      <div class="container">
        <main>
          <div class="info-card">
            <% if (breedData) { %>
              <h1 class="info-card__title">
                <%= breedData.name %>
              </h1>
              <div><img src="<%= imageData.url %>" alt=""></div>
              <div class="info-card__info">
                <p>Temperament:
                  <%= breedData.temperament %>
                </p>
                <p>Origin:
                  <%= breedData.origin %>
                </p>
                <p>Description:
                  <%= breedData.description %>
                </p>
                <p>Life Span:
                  <%= breedData.life_span %>
                </p>
                <div>
                  <% if (breedData.affection_level) { %>
                    <p>Affection level:
                      <%= "ðŸ¤— " .repeat(breedData.affection_level) %>
                    </p>
                    <% } %>
                </div>%>
                <div>
                  <% if (breedData.child_friendly) { %>
                    <p>Child friendly:
                      <%= "ðŸ‘¶ " .repeat(breedData.child_friendly) %>
                    </p>
                    <% } %>
                </div>
                <div>
                  <% if (breedData.cat_friendly) { %>
                    <p>Cat friendly:
                      <%= "ðŸˆ " .repeat(breedData.cat_friendly) %>
                    </p>
                    <% } %>
                </div>
                <div>
                  <% if (breedData.dog_friendly) { %>
                    <p>Dog friendly:
                      <%= "ðŸ• " .repeat(breedData.dog_friendly) %>
                    </p>
                    <% } %>
                </div>
                <div>
                  <% if (breedData.energy_level) { %>
                    <p>Energy level:
                      <%= "âš¡ï¸ " .repeat(breedData.energy_level) %>
                    </p>
                    <% } %>
                </div>
                <div>
                  <% if (breedData.intelligence) { %>
                    <p>Intelligence:
                      <%= "ðŸ§ " .repeat(breedData.intelligence) %>
                    </p>
                    <% } %>
                </div>
                <a class="btn" href="<%= breedData.vetstreet_url %>">
                  VetStreet
                </a>
                <a class="btn" href="<%= breedData.vcahospitals_url %>">
                  VCA Hospital
                </a>
              </div>
              <% } else { %>
                <div>

                  <div class="random-cat__inner-container">
                    <div class="random-cat__button-container">
                      <h4>No info on this breed right meow! Try another!</h4>
                    </div>
                    <div class="random-cat__button-container"><a href="/breeds" class="btn">Back to breeds</a></div>
                  </div>

                </div>
                <% } %>
          </div>
        </main>
      </div>
      <%- include('./includes/footer.ejs') %>
  </body>

</html>
